ion-card-title{
    color: #4E3976;
    text-align: center;
    font-weight: bold;
    
}

ion-card{
    height: 80%;
    background: #e6e0f0;
    position: relative;
    top: 10%;

   
}
ion-toolbar{
    --ion-background-color: #e6e0f0;
    position: absolute;
    bottom: 0%;
}
ion-content{
    --background: none;
    background-image: url('/assets/backgound-pub.png');
}

#color-icon{
    color: #4E3976;
}
#attach{
    margin-left: 87%;
}