<!--<ion-header>
  <ion-toolbar>
    <ion-title>Réinitialitiser le mot de passe</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <img class="image" src="assets/unlock.png">
  <ion-label class="l">Nouveau mot de passe:</ion-label>
  <ion-input  class="i" placeholder="Entrez le mot de passe"></ion-input>
  <ion-input class="i2" type="text" placeholder="Retapez le mot de passe"></ion-input>
  <ion-button color="secondary" class="buttonSend" routerLink="/login">Valider</ion-button>
</ion-content>
