ion-header{
  --ion-background-color: #4E3976;
}

ion-content{
  --ion-background-color: var(--ion-color-water);
}

.img-box {
  border-radius: 50%;
  overflow: hidden;
  height: 130px;
  width: 130px;
  display: flex;
  justify-content: center;
}

ion-icon {
  color: rgb(43, 40, 40);
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
}
.section{
  height: 60vh;
  width: 100%;
  background: linear-gradient(0deg,rgba(78, 57, 118, 0.7),rgba(78, 57, 118, 0.1));
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  margin: auto;
  border-top-left-radius: 46px;
  border-top-right-radius: 46px;
}

#h3{
  color: #4E3976;
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 7%;
}

.head {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: black;
}

.tweet ion-label {
  line-height: 1!important;
  font-size: 15px;
  margin: 6px 0px 6px 0px!important;
  min-height: 34px;
}

.tweet {
  margin-top: -10px!important;
}
ion-item{
  --background : white;

}
#icon-color{
color: #4E3976;
}

#img{
position: relative;
top: -10%;
border-radius: 50%;
overflow: hidden;
height: 120px;
width: 120px;
margin-left: 0%;

}
#title{
position: relative;
top: 2%;
margin-left: 33%;
}

ion-menu-button{
  color: white;
}

.h{
  position: absolute;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  text-align: justify;
  background: #ffffff;
  color: #4E3976;
  position: absolute;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  text-align: justify;
  background: #ffffff;
  color: #4E3976;

position: absolute;
font-family: Poppins;
font-style: normal;
font-weight: bold;
text-align: justify;
background: #ffffff;
color: #4E3976;


}

div[scrollx=true], div[scrolly=true] {
  position: relative;
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

div[scrollx=true] {
  overflow-x: auto;
}

div[scrolly=true] {
  overflow-y: auto;
}
#myFixZone {
  height: 500px;
}