ion-header{
margin-bottom: 3em;
box-shadow: none;
padding: 0.2em 0.2em 0.2em 0.2em;
border-bottom: none;
}
ion-content{
    --ion-background-color: #D5D8FF;
}
ion-title{
    margin-right: 5em;
}
ion-icon{
    color: #4E3976;
}