<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon size="large" name="chevron-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>MODIFIER LE MOT DE PASSE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="container" id="container">
  <ion-item>
    <ion-label color="light">ANCIEN </ion-label>
    <ion-input color="light" type="password" ></ion-input>
  </ion-item>
  <br><br>
  <ion-item>
    <ion-label color="light">NOUVEAU </ion-label>
    <ion-input color="light" type="password" placeholder=" Mot de passe"></ion-input>
  </ion-item>
  <br><br>
  <ion-item>
    <ion-label color="light">CONFIRMER </ion-label>
    <ion-input color="light" type="password" placeholder=" Mot de passe"></ion-input>
  </ion-item>
<br><br>
  <ion-button id="enregistrer" expand="block" shape="round" size="large">ENREGISTRER</ion-button>
</div>

</ion-content>
