<ion-header>
  <ion-toolbar>
    <ion-title>MODIFIER LE MOT DE PASSE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label color="light">ANCIEN MOT DE PASSE</ion-label>
    <ion-input color="light" type="password" placeholder="Mot de passe"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label color="light">NOUVEAU MOT DE PASSE</ion-label>
    <ion-input color="light" type="password" placeholder="Mot de passe"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label color="light">CONFIRMER LE MOT DE PASSE</ion-label>
    <ion-input color="light" type="password" placeholder="Mot de passe"></ion-input>
  </ion-item>
<br>
  <ion-button id="enregistrer" expand="block" shape="round">ENREGISTRER</ion-button>

</ion-content>
