<ion-content>
  <div id="img">
    <img src="assets/logo.png" alt="logo">
  </div>
  
  <div class="container" id="container">
    <ion-item >
     
        <ion-label color="purple" position="floating">EMAIL</ion-label>
        <ion-input autocorrect="on" autofocus="on" clearInput="true" clearOnEdit="true" color="primary" inputmode="text" placeholder="Enter your name" required="true"></ion-input>
        <ion-icon color="purple" slot="start"></ion-icon>
      </ion-item>
    <br>
    <ion-item>
      <ion-label color="light">Mot de passe</ion-label>
      <ion-input color="light" type="password" placeholder="Mot de passe"></ion-input>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-button id="passwordLink" slot="end" fill="clear">Mot de passe oublié ?</ion-button>
    </ion-item>
  
    <ion-button  id="connecter" expand="block" shape="round">SE CONNECTER</ion-button>
  </div>



</ion-content>

