<ion-content>
  <div id="img">
    <img src="assets/logo.png" alt="logo">
  </div>
  
  <div class="container" id="container">
    <ion-item>
      <ion-label position="stacked" class="labels">Email</ion-label>
      <ion-input color="light" type="password" placeholder="  Email">
        <ion-icon name="person-sharp" slot="start"></ion-icon>
      </ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="stacked" class="labels">Mot de passe</ion-label>
      <ion-input color="light" type="password" placeholder="  Mot de passe">
        <ion-icon name="lock-closed-sharp"></ion-icon>
      </ion-input>
    </ion-item>
    <br>
    <ion-item lines="none">
      <ion-button id="passwordLink" slot="end" fill="clear">Mot de passe oublié ?</ion-button>
    </ion-item>
  
    <ion-button  id="connecter" expand="block" shape="round">SE CONNECTER</ion-button>
  </div>



</ion-content>

