<ion-header > 
  <ion-toolbar style=" --ion-background-color: #FFCDB6;" fill="clear"> 
          <ion-buttons slot="start" >
        <ion-button routerLink="/home" style="color: #4E3976; font-weight: 700;"><ion-icon slot="start" name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="img">
    <img src="assets/logo.png" alt="logo">
  </div>
  <form  id="container" [formGroup]="form" (ngSubmit)="submit()">
    <div class="container" >
      <ion-item>
        <ion-label position="stacked" class="labels">Email</ion-label>
        <ion-input formControlName="email" color="light" type="email" placeholder="  Email" required>
          <ion-icon name="person-sharp" slot="start"></ion-icon>
        </ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="stacked" class="labels">Mot de passe</ion-label>
        <ion-input  formControlName="password" color="light" type="password" placeholder="  Mot de passe" required>
          <ion-icon name="lock-closed-sharp"></ion-icon>
        </ion-input>
      </ion-item>
      <br>
      <ion-item lines="none">
        <ion-button routerLink="/forgot-password" id="passwordLink" slot="end" fill="clear">Mot de passe oublié ?</ion-button>
      </ion-item>
    
      <ion-button  id="connecter" expand="block" shape="round" type="submit">SE CONNECTER</ion-button>
    </div>

  </form>




</ion-content>
<ion-footer style="background-color: #FFCDB6;">
  <p style="color: #4E3976; text-align: center; ">&copy;2021 Developed by venus crew</p>
</ion-footer>

