<ion-header>
  <ion-toolbar>
    <ion-title class="title">Test de dépression post-partum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <ion-card class="q">
    <ion-item lines="none" class="tweet">
      <ion-label>
        <p class="qst">1.Peu d'appétit ou trop d’appétit </p>
      </ion-label>
    </ion-item>   
  </ion-card>
  <ion-item lines="none" class="tweet r">
    <ion-button class="bttn" color="secondary">Oui,&nbsp;la plupart du temps</ion-button>
      <ion-button class="bttnscd" color="secondary">Oui,&nbsp;parfois&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-button>
  </ion-item>
  <ion-item lines="none" class="tweet r">
      <ion-button class="bttn" color="secondary"> &nbsp;Non,&nbsp;presque jamais &nbsp;&nbsp;&nbsp;&nbsp;</ion-button>
      <ion-button class="bttnscd" color="secondary">Non,&nbsp;pas du tout&nbsp;&nbsp;</ion-button>
  </ion-item>


  <ion-card class="q">
    <ion-item lines="none" class="tweet">
      <ion-label>
        <p class="qst">2.J'ai pu rire et voir le côté drôle des choses</p>
      </ion-label>
    </ion-item>   
  </ion-card>
  <ion-item lines="none" class="tweet r">
      <ion-button class="bttn" color="secondary">Oui,&nbsp;la plupart du temps</ion-button>
      <ion-button class="bttnscd" color="secondary">Oui,&nbsp;parfois&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-button>
  </ion-item>
  <ion-item lines="none" class="tweet r">
      <ion-button class="bttn" color="secondary"> &nbsp;Non,&nbsp;presque jamais &nbsp;&nbsp;&nbsp;&nbsp;</ion-button>
      <ion-button class="bttnscd" color="secondary">Non,&nbsp;pas du tout&nbsp;&nbsp;</ion-button>
  </ion-item>

  <ion-card class="q">
      <ion-item lines="none" class="tweet">
        <ion-label>
          <p class="qst">&nbsp;&nbsp;3.Je me suis blâmé inutilement quand les<br>&nbsp;choses ont mal tourné</p>
        </ion-label>
      </ion-item>   
  </ion-card>
  <ion-item lines="none" class="tweet r">
      <ion-button class="bttn" color="secondary">Oui,&nbsp;la plupart du temps</ion-button>
      <ion-button class="bttnscd" color="secondary">Oui,&nbsp;parfois&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-button>
  </ion-item>
  <ion-item lines="none" class="tweet r">
      <ion-button class="bttn" color="secondary"> &nbsp;Non,&nbsp;presque jamais &nbsp;&nbsp;&nbsp;&nbsp;</ion-button>
      <ion-button class="bttnscd" color="secondary">Non,&nbsp;pas du tout&nbsp;&nbsp;</ion-button>
  </ion-item>


  <ion-card class="q">
      <ion-item lines="none" class="tweet">
        <ion-label>
          <p class="qst">4.J'ai eu peur ou paniqué sans raison valable</p>
        </ion-label>
      </ion-item> 
  </ion-card>
  <ion-item lines="none" class="tweet r">
      <ion-button class="bttn" color="secondary">Oui,&nbsp;la plupart du temps</ion-button>
      <ion-button class="bttnscd" color="secondary">Oui,&nbsp;parfois&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-button>
  </ion-item>
  <ion-item lines="none" class="tweet r">
      <ion-button class="bttn" color="secondary"> &nbsp;Non,&nbsp;presque jamais &nbsp;&nbsp;&nbsp;&nbsp;</ion-button>
      <ion-button class="bttnscd" color="secondary">Non,&nbsp;pas du tout&nbsp;&nbsp;</ion-button>
  </ion-item>


  <ion-card class="q">
      <ion-item lines="none" class="tweet">
        <ion-label>
          <p class="qst">5.J'ai été si malheureux que j'ai eu du mal à</p><p class="qst">dormir</p>
        </ion-label>
      </ion-item>   
  </ion-card>
  <ion-item lines="none" class="tweet r">
      <ion-button class="bttn" color="secondary">Oui,&nbsp;la plupart du temps</ion-button>
      <ion-button class="bttnscd" color="secondary">Oui,&nbsp;parfois&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-button>
  </ion-item>
  <ion-item lines="none" class="tweet r">
      <ion-button class="bttn" color="secondary"> &nbsp;Non,&nbsp;presque jamais &nbsp;&nbsp;&nbsp;&nbsp;</ion-button>
      <ion-button class="bttnscd" color="secondary">Non,&nbsp;pas du tout&nbsp;&nbsp;</ion-button>
  </ion-item>

  <ion-card class="q">
      <ion-item lines="none" class="tweet">
        <ion-label>
          <p class="qst">6.Je reçois du soutien de ma famille et</p><p class="qst">entourage</p>
        </ion-label>
      </ion-item>    
  </ion-card>
  <ion-item lines="none" class="tweet r">
      <ion-button class="bttn" color="secondary">Oui,&nbsp;la plupart du temps</ion-button>
      <ion-button class="bttnscd" color="secondary">Oui,&nbsp;parfois&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-button>
  </ion-item>
  <ion-item lines="none" class="tweet r">
      <ion-button class="bttn" color="secondary"> &nbsp;Non,&nbsp;presque jamais &nbsp;&nbsp;&nbsp;&nbsp;</ion-button>
      <ion-button class="bttnscd" color="secondary">Non,&nbsp;pas du tout&nbsp;&nbsp;</ion-button>
  </ion-item>


  <ion-card class="q">
      <ion-item lines="none" class="tweet">
        <ion-label>
          <p class="qst">7.J'ai eu l'idée de me faire du mal </p>
        </ion-label>
      </ion-item>      
  </ion-card>
  <ion-item lines="none" class="tweet r">
      <ion-button class="bttn" color="secondary">Oui,&nbsp;la plupart du temps</ion-button>
      <ion-button class="bttnscd" color="secondary">Oui,&nbsp;parfois&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-button>
  </ion-item>
  <ion-item lines="none" class="tweet r">
      <ion-button class="bttn" color="secondary"> &nbsp;Non,&nbsp;presque jamais &nbsp;&nbsp;&nbsp;&nbsp;</ion-button>
      <ion-button class="bttnscd" color="secondary">Non,&nbsp;pas du tout&nbsp;&nbsp;</ion-button>
  </ion-item>


  <ion-card class="q">
      <ion-item lines="none" class="tweet">
        <ion-label>
          <p class="qst">8. J’ai été déjà diagnostiqué avec un </p> 
            <p class="qst">&nbsp;problème de santé mentale</p>
        </ion-label>
      </ion-item>   
  </ion-card>
  <ion-item lines="none" class="tweet r">
      <ion-button class="bttn" color="secondary">Oui,&nbsp;la plupart du temps</ion-button>
      <ion-button class="bttnscd" color="secondary">Oui,&nbsp;parfois&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-button>
  </ion-item>
  <ion-item lines="none" class="tweet r">
      <ion-button class="bttn" color="secondary"> &nbsp;Non,&nbsp;presque jamais &nbsp;&nbsp;&nbsp;&nbsp;</ion-button>
      <ion-button class="bttnscd" color="secondary">Non,&nbsp;pas du tout&nbsp;&nbsp;</ion-button>
  </ion-item>

    <ion-card class="q">
      <ion-item lines="none" class="tweet">
        <ion-label>
          <p class="qst">9. J’ai pensé à faire mal à mon bébé. </p> 
        </ion-label>
      </ion-item>   
    </ion-card>
    <ion-item lines="none" class="tweet r">
        <ion-button class="bttn" color="secondary">Oui,&nbsp;la plupart du temps</ion-button>
        <ion-button class="bttnscd" color="secondary">Oui,&nbsp;parfois&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</ion-button>
    </ion-item>

    
    <ion-item lines="none" class="tweet r">
        <ion-button class="bttn" color="secondary"> &nbsp;Non,&nbsp;presque jamais &nbsp;&nbsp;&nbsp;&nbsp;</ion-button>
        <ion-button class="bttnscd" color="secondary">Non,&nbsp;pas du tout&nbsp;&nbsp;</ion-button>
    </ion-item>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="next()" style="color: #4E3976; font-weight: 700;">Terminé<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>