<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon id="back" size="large" name="chevron-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>MON COMPTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-avatar >
    <img  src="assets/pic.jpg">
  </ion-avatar>
  <ion-button fill="clear" id="camera">
    <ion-icon  slot="end" name="camera-sharp" size="large"></ion-icon>
  </ion-button>


<div class="container" id="container">
  <ion-item>
    <ion-label color="light">NOM D'UTILISATEUR</ion-label>
    <ion-input color="light" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="light">NOM</ion-label>
    <ion-input color="light" type="text"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label color="light">PRENOM</ion-label>
    <ion-input color="light" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="light">DATE DE NAISSANCE</ion-label>
    <ion-item>
      <ion-datetime displayFormat="DD/MM/YYYY" ></ion-datetime>
      <ion-icon slot="end" name="calendar-sharp"></ion-icon>
    </ion-item>
  </ion-item>

  <ion-item>
    <ion-label color="light">Email</ion-label>
    <ion-input color="light" type="mail"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label color="light">Mot de passe</ion-label>
    <ion-button fill="clear" (click)="passwordLink()">
      <ion-icon size="large" name="pencil-sharp"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-label color="light">BIO</ion-label>
    <ion-input color="light" type="text"></ion-input>
  </ion-item>
<br>
  <ion-button slot="end"  id="sauvegarder" expand="block" shape="round" >SAUVEGARDER</ion-button>
</div>


</ion-content>