<ion-header>
  <ion-toolbar>
    <ion-title>MON COMPTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="tweet-img" src="assets/pic.jpg">

  <ion-item>
    <ion-label color="purple">NOM D'UTILISATEUR</ion-label>
    <ion-input color="light" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="purple">NOM</ion-label>
    <ion-input color="light" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="light">PRENOM</ion-label>
    <ion-input color="light" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="light">DATE DE NAISSANCE</ion-label>
  </ion-item>

  <ion-item>
    <ion-label color="light">Email</ion-label>
    <ion-input color="light" type="mail"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="light">Mot de passe</ion-label>
  </ion-item>
  <ion-item>
    <ion-label color="light">BIO</ion-label>
    <ion-input color="light" type="text"></ion-input>
  </ion-item>

  <ion-button id="sauvegarder" expand="block" shape="round">SAUVEGARDER</ion-button>


</ion-content>