.un{
    position: absolute;
    left: 20%;
    font-size: 18px;
}

.c{
    --ion-background-color:#4e3976;
 }


 .l{
     position: absolute;
     left: 20%;
     font-size: 16px;
     color: #ffffff;
 }
 
 .z{
    --ion-background-color:#D5D8FF;
 }