<!--<ion-header>
  <ion-toolbar>
    <ion-title>Récupérer le code de réinitialisation</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <ion-title class="b"></ion-title>
  <ion-text class="t"> Veuillez saisir le code de réinitialisation dans le champ ci-dessous dès 
    que vous le recevez dans votre e-mail. Si vous ne recevez encore pas le code, cliquez ici
     <u class="u">renvoyer le code</u></ion-text>
  <ion-label class="l">Code de réinitialisation</ion-label>
  <img class="r" src="assets/recycle.png">
  <ion-input type="text" class="i"></ion-input>
  <ion-button color="secondary" class="buttonSend" routerLink="/reset-password">Réinitialiser</ion-button>
</ion-content>
