
.c{
    position: absolute;
    width: 365px;
    height: 178px;
    top: 186px;
    font-family: Prosto One;
    font-style: normal;
    font-weight: normal;
    font-size: 19.369px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    }
    
    .b{
    position: absolute;
    width: 271px;
    height: 82px;
    left:15%;
    right:15%;
    top: 150px;
    font-family: Rufina;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    }
    
    
    .buttonSend{
    position: absolute;
    left: 25%;
    right: 30%;
    top: 80%;
    bottom: 20%;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 19.369px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    --ion-color-secondary: #4e3976;
    }
    
    .image{
        position: absolute;
        width:140px;
        height:140px;
        left:30%;
        top:5%;
    }
    
    .l{
    position: absolute;
    left: 20%;
    right: 63.03%;
    top: 62%;
    bottom: 90.37%;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 19.369px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4e3976;
    }
    
    .i{
    position: absolute;
    width:200px;
    left:20%;
    right:10%;
    top: 70%;
    bottom: 100%;
    border: 0.5px solid #4E3976;
    }

    .r{
        position: absolute;
        width: 25px;
        left:20%;
        right:10%;
        top: 65%;
        bottom: 100%;
        }
    
    ion-content{
        --ion-background-color:#FFCDB6;        ;
    }

    