<ion-header>
  <ion-toolbar style=" --ion-background-color: #FFCDB6;"> 
          <ion-buttons slot="start">
        <ion-button routerLink="/login" style="color: #4E3976; font-weight: 700;"><ion-icon slot="start" name="arrow-back"></ion-icon> Précédent</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="image" src="assets/padlock.png">
  <ion-title class="b">Mot De Passe Oublié ?</ion-title>
  <ion-text class="c">Veuillez saisir votre e-mail ci-dessous
    pour recevoir les instructions de réinitialisation de votre mot de passe</ion-text>
  <ion-label class="l">Email</ion-label>
  <img class="r" src="assets/user.png">
  <ion-input type="text" class="i"></ion-input>
  <ion-button class="buttonSend" color="secondary">Envoyer</ion-button>

</ion-content>

