<!--<ion-header>
  <ion-toolbar>
    <ion-title>forgot password</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content >
  <img class="image" src="assets/padlock.png">
  <ion-title class="b">Mot De Passe Oublié ?</ion-title>
  <ion-text class="c">Veuillez saisir votre e-mail ci-dessous 
    pour recevoir les instructions de réinitialisation de votre mot de passe</ion-text>
  <ion-label class="l">Email</ion-label>
  <img class="r" src="assets/user.png">
  <ion-input type="text" class="i"></ion-input>
  <ion-button class="buttonSend" color="secondary">Envoyer</ion-button>
</ion-content>

