<ion-header>
  <ion-toolbar class="c">
    <ion-item>
      <ion-buttons class="menu" slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
     <ion-searchbar class="bar" placeholder="Rechercher"></ion-searchbar>
     <img src="assets/writing.png">
     <img src="assets/notification.png">
    </ion-item>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
  </ion-list>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/pic.jpg" />
      </ion-avatar>
      <ion-label class="l">User Name</ion-label>
      <img class="imge" src="assets/light-bulb.png">
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/pic.jpg" />
      </ion-avatar>
      <ion-label class="l">User Name</ion-label>
      <img class="imge" src="assets/light-bulb.png">
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/pic.jpg" />
      </ion-avatar>
      <ion-label class="l">User Name</ion-label>
      <img class="imge" src="assets/light-bulb.png">
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/pic.jpg" />
      </ion-avatar>
      <ion-label class="l">User Name</ion-label>
      <img class="imge" src="assets/light-bulb.png">
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/pic.jpg" />
      </ion-avatar>
      <ion-label class="l">User Name</ion-label>
      <img class="imge" src="assets/light-bulb.png">
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/pic.jpg" />
      </ion-avatar>
      <ion-label class="l">User Name</ion-label>
      <img class="imge" src="assets/light-bulb.png">
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/pic.jpg" />
      </ion-avatar>
      <ion-label class="l">User Name</ion-label>
      <img class="imge" src="assets/light-bulb.png">
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/pic.jpg" />
      </ion-avatar>
      <ion-label class="l">User Name</ion-label>
      <img class="imge" src="assets/light-bulb.png">
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/pic.jpg" />
      </ion-avatar>
      <ion-label class="l">User Name</ion-label>
      <img class="imge" src="assets/light-bulb.png">
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/pic.jpg" />
      </ion-avatar>
      <ion-label class="l">User Name</ion-label>
      <img class="imge" src="assets/light-bulb.png">
    </ion-item>
  </ion-list>
</ion-content>
