ion-content{
  --ion-background-color: #FFCDB6;
}

#inscrire{
 --color: white;
 --background : #4E3976;
 font-size: large;
 font-family: Arial, Helvetica, sans-serif;
}

#connecter{
  --color: #4E3976;
  --background : white;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
