.c{
    --ion-background-color:#4e3976;
 }

<<<<<<< HEAD
.bar{
    --ion-background-color:#ffffff;
}

.bar{
    --ion-background-color:#ffffff;
 }
=======
<<<<<<< HEAD
.bar{
    --ion-background-color:#ffffff;
}
=======
 .bar{
    --ion-background-color:#ffffff;
 }
>>>>>>> aadac4c15f192cb70f4fa85837b114314f9fce01
>>>>>>> 8679a36e3713b2927dd375136cedb571b60e616d

.menu{
    color:#ffffff;
}

.tweet ion-label {
    line-height: 1!important;
    font-size: 15px;
    margin: 6px 0px 6px 0px!important;
    min-height: 34px;
}

.tweet {
    margin-top: -1px!important;
    --background : white;
}

#icon-color{
    color: #4E3976;
}

ion-content{
    --ion-background-color:#D5D8FF;
}

.h{
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 8679a36e3713b2927dd375136cedb571b60e616d
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    text-align: justify;
    background: #ffffff;
    color: #4E3976;
<<<<<<< HEAD
    position: absolute;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    text-align: justify;
    background: #ffffff;
    color: #4E3976;
=======
=======
position: absolute;
font-family: Poppins;
font-style: normal;
font-weight: bold;
text-align: justify;
background: #ffffff;
color: #4E3976;
>>>>>>> aadac4c15f192cb70f4fa85837b114314f9fce01
>>>>>>> 8679a36e3713b2927dd375136cedb571b60e616d
}
