  <ion-header  class="ion-no-border">
    <ion-toolbar class="tool">
      <ion-title>
        Sign Up
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen="true">
    <ion-slides #signupSlider>
  
      <ion-slide>
        <p *ngIf="submitAttempt" class="Warnings">Veuillez remplir toutes les informations correctement</p>
  
        <ion-list lines="none">
        <form [formGroup]="Form">
        
                <ion-item>
                    <ion-label class="labels" position="stacked">PRENOM</ion-label>
                    <ion-item *ngIf="!Form.controls.prenom.valid  && (Form.controls.prenom.dirty || submitAttempt)">
                  <p  class="Warnings">Veuillez entrer le prenom</p>
              </ion-item> <ion-input formControlName="prenom" type="text"></ion-input>
                </ion-item>
               
                <ion-item>
                    <ion-label class="labels" position="stacked">NOM</ion-label>
                     <ion-item *ngIf="!Form.controls.nom.valid  && (Form.controls.nom.dirty || submitAttempt)">
                  <p  class="Warnings">Veuillez entrer le nom</p></ion-item>
                  <ion-input formControlName="nom" type="text"></ion-input>
                
               
              </ion-item>
                <ion-item>
                    <ion-label class="labels" position="stacked">DATE DE NAISSANCE</ion-label>
                   <ion-item *ngIf="!Form.controls.dateNaissance.valid  && (Form.controls.dateNaissance.dirty || submitAttempt)">
                  <p class="Warnings">Veuillez entrer la date de naissance</p>
              </ion-item>
               <ion-datetime formControlName="dateNaissance"
                    min="1990-01-05" 
                    displayFormat="YYYY-DD-MM"></ion-datetime>
                </ion-item>
                
            </form>
           
        
        </ion-list>
      </ion-slide>
  
      <ion-slide>
        <ion-list lines="none">
        
          <form [formGroup]="Form">
      
              <ion-item>
                 
             <ion-label position="stacked" class="labels">NOM D'UTILISATEUR</ion-label>
                  <ion-item *ngIf="!Form.controls.nomuser.valid  && (Form.controls.nomuser.dirty || submitAttempt)">
                <p class="Warnings">Veuillez entrer un Pseudo nom valide<br>*le pseudo nom ne doit contenir que des lettres</p>
            </ion-item> <ion-input formControlName="nomuser" type="text"></ion-input>
              </ion-item>
             
              <ion-item>
                 
            <ion-label position="stacked" class="labels">E-MAIL</ion-label>
                 <ion-item *ngIf="!Form.controls.email.valid  && (Form.controls.email.dirty || submitAttempt)">
                <p class="Warnings">Veuillez entrer un email valide.</p>
            </ion-item>  <ion-input formControlName="email" type="text"></ion-input>
              </ion-item>
              
              <ion-item>
                  
                <ion-label position="stacked" class="labels">MOT DE PASSE</ion-label>
                  <ion-item *ngIf="!Form.controls.motdepasse.valid  && (Form.controls.motdepasse.dirty || submitAttempt)">
                    <p class="Warnings">Mots de passe erroné, essayez de nouveau</p>
                </ion-item><ion-input formControlName="motdepasse" type="password"  placeholder="mot de passe" ></ion-input>
                  <ion-input formControlName="motdepasseconfirm" type="password"  placeholder="confirme ton mot de passe" ></ion-input>
                  
                </ion-item>
          </form>
      </ion-list>
      </ion-slide>
  
      <ion-slide>
        <ion-list lines="none">
          <form [formGroup]="Form">
              <ion-item>
                  <ion-label position="stacked" class="labels text-align-center">Clique ici pour choisir ta photo</ion-label>
                  <ion-input formControlName="photo" type="file" (change)="onFileSelected($event)"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked" class="labels">BIO</ion-label>
                <ion-textarea formControlName="bio"></ion-textarea>
            </ion-item>
          </form>
      </ion-list>
      <ion-button id="create" expand="block" (click)="save()">Create Account!</ion-button>
      </ion-slide>
    </ion-slides>
  
  </ion-content>
  <ion-footer>
    <ion-toolbar class="footer" style=" --ion-background-color: #FFCDB6;">
      <ion-buttons slot="start">
        <ion-button routerLink="/login" style="color: #4E3976; font-weight: 700;"><ion-icon slot="start" name="arrow-back"></ion-icon> Précédent</ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="next()" style="color: #4E3976; font-weight: 700;">Suivant<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>