ion-content{
    --ion-background-color: #FFCDB6;
}


#img1{
    margin-right: 2%;
    background-color: #D5D8FF;
    border-radius: 100%;
    width: 130px;
    height: 125px; 
}
   
   #img2{
    margin-top: 40%;
    margin-right: 2%;
    background-color: #D5D8FF;
    border-radius: 100%;
    width: 130px;
    height: 125px; 
   }
   
   #img3{
    margin-right: 2%;
    background-color: #D5D8FF;
    border-radius: 100%;
    width: 130px;
    height: 125px;   
   }